<ion-header>
  <ion-toolbar>
    <ion-title>
      {{bienvenido}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="stacked">Ingresar Nickname</ion-label>
    <ion-input clearInput value="clear me" placeholder="Nickname" [(ngModel)]="nickname"></ion-input>
  </ion-item>

    <ion-button expand="block" (click)="guardarNombre()"><ion-icon name="person-circle-outline"></ion-icon> Guardar</ion-button>
    <ion-button expand="block" (click)="eliminarNombre()" color="danger"><ion-icon name="trash-outline"></ion-icon> Borrar</ion-button>

</ion-content>
